.btn {
    padding: 6px 12px 6px 12px;
    border-radius: 3px;
    color: white;

}


.btn-primary {
    background-color: $color-3;
    border: 1px solid $color-3;

    &:hover {
        background-color: white;
        color: $color-3;
    }
}

.btn-danger {
    background-color: $color-1;
    border: 1px solid $color-1;

    &:hover {
        background-color: white;
        color: $color-1;
    }
}


.color {
    &--suma {
        color: $color-11;
    }

    &--resta {
        color: $color-1;
    }
}