@import './variables.scss';
@import './_fonts.scss';
@import './custom.scss';
@import './custom-styles';

body {
    font-family: 'Roboto', sans-serif !important;
}

a {
    text-decoration: none;
    color: $color-5;
}

a:focus-visible {
    outline: none;
}

.input .v-input .v-input__control .v-input__slot .v-text-field__slot .primary--text {
    color: $color-4 !important;
}