$color-1: #EF476F;
$color-2: #FFD166;
$color-3: #06D6A0;
$color-4: #118AB2;
$color-5: #073B4C;

$color-6: #3AE051;
$color-7: #6BF734;
$color-8: #C0F03C;
$color-9: #34F795;
$color-10:#E0E0E0;
$color-11: #358200;
$color-12: #00000070;